@model IEnumerable<User>

@{
    ViewData["Title"] = "All Profiles";

    string searchByName = default;
    string startAge = ViewData["SearchingStartAge"].ToString();
    string endAge = ViewData["SearchingEndAge"].ToString();
    string interests = default;
    Gender searchGender = ViewData["SearchingGender"].ToString() == "Male" ? Gender.Male : Gender.Female;
    bool isChecked = false;
}

<form class="search-form">
    <label class="search-input-label">
        Searching username
        <input class="searchByName" type="text" name="searchByName" placeholder="Username" asp-for="@searchByName">
    </label>
    <label class="search-input-label">
        Searching start age
        <input class="startAge" type="number" name="startAge" placeholder="Start Age" asp-for="@startAge">
    </label>
    <label class="search-input-label">
        Searching end age
        <input class="endAge" type="number" name="endAge" placeholder="End Age" asp-for="@endAge">
    </label>
    <label class="search-input-label">
        Searching Gender
        <select class="gender" name="searchGender" asp-for="@searchGender"
            asp-items="Html.GetEnumSelectList<Gender>()">@searchGender</select>
    </label>
    <input class="interests" type="text" name="interests" id="interests" asp-for="@interests">
    <div>
        <h1 style="font-size: 20px; margin-top: 20px;">Searching Interests</h1 <label>Sport<input type="checkbox"
            name="interest" value="sport"></label>
        <label>Games<input type="checkbox" name="interest" value="games"></label>
        <label>Traveling<input type="checkbox" name="interest" value="traveling"></label>
        <label>Reading<input type="checkbox" name="interest" value="reading"></label>
        <label>Cooking<input type="checkbox" name="interest" value="cooking"></label>
        <label>Hiking<input type="checkbox" name="interest" value="hiking"></label>
        <label>Photography<input type="checkbox" name="interest" value="photography"></label>
        <label>Music<input type="checkbox" name="interest" value="music"></label>
        <label>Painting<input type="checkbox" name="interest" value="painting"></label>
        <label>Writing<input type="checkbox" name="interest" value="writing"></label>
        <label>Gardening<input type="checkbox" name="interest" value="gardening"></label>
        <label>Yoga<input type="checkbox" name="interest" value="yoga"></label>
        <label>Meditation<input type="checkbox" name="interest" value="meditation"></label>
        <label>Astronomy<input type="checkbox" name="interest" value="astronomy"></label>
        <label>Dancing<input type="checkbox" name="interest" value="dancing"></label>
        <label>Film-making<input type="checkbox" name="interest" value="film-making"></label>
        <label>Bird-watching<input type="checkbox" name="interest" value="bird-watching"></label>
        <label>Knitting<input type="checkbox" name="interest" value="knitting"></label>
        <label>Surfing<input type="checkbox" name="interest" value="surfing"></label>
        <label>Scuba diving<input type="checkbox" name="interest" value="scuba diving"></label>
        <label>Chess<input type="checkbox" name="interest" value="chess"></label>
        <label>Calligraphy<input type="checkbox" name="interest" value="calligraphy"></label>
    </div>

    <button id="search" type="submit"><span class="material-symbols-outlined">search</span></button>
</form>

@* <div class="profiles-header">
    <input name="searchByUsername" type="text" placeholder="Search by username">
    <div>
        <button class="search"><span class="material-symbols-outlined">search</span></button>
        <p class="p-search">Search</p>
    </div>
    <div>
        <button class="expand-content"><span class="material-symbols-outlined">expand_content</span></button>
        <p class="p-show-more">Show more options</p>
    </div>
</div> *@
@* 
<form class="search-form">
    <div class="div1">
        <h2>Search for your matches</h2>
        <button>Set Default</button>
    </div>
    <div class="div2">
        <label>I am looking for a </label>
        <select class="gender" name="searchGender" asp-for="@searchGender"
            asp-items="Html.GetEnumSelectList<Gender>()">@searchGender</select>
        <label>Ages</label>
        <input class="startAge" type="number" name="startAge" placeholder="Start Age" asp-for="@startAge">
        <span class="separator text-wrapper">—</span>
        <input class="endAge" type="number" name="endAge" placeholder="End Age" asp-for="@endAge">
    </div>
</form> *@

<script>
    document.querySelector('.search').addEventListener("mouseover", function () {
        document.querySelector('.profiles-header .p-search').style.display = 'block';
    });
    document.querySelector('.search').addEventListener("mouseout", function () {
        document.querySelector('.profiles-header .p-search').style.display = 'none';
    });
    document.querySelector('.expand-content').addEventListener("mouseover", function () {
        document.querySelector('.profiles-header .p-show-more').style.display = 'block';
    });
    document.querySelector('.expand-content').addEventListener("mouseout", function () {
        document.querySelector('.profiles-header .p-show-more').style.display = 'none';
    });

    var checkboxes = document.querySelectorAll('input[type="checkbox"][name="interest"]');

    var interest = document.getElementById('interests');

    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                interest.value += checkbox.value + ' ';
            } else {
                var valueToRemove = checkbox.value + ' ';
                interest.value = interest.value.replace(valueToRemove, '');
            }
        });
    });

    window.onload = document.getElementById("interest").value = '';

</script>

@if (!Model.Any() || Model is null)
{
    <p>There is no profiles</p>
}
else
{
    <div class="profiles" id="profiles">
        @Html.Partial("ProfilesPartial", Model)
    </div>
}

@section scripts {
    <script>
        var isLoading = false;
        var skip = 12;

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() + 600 >= $(document).height() && !isLoading) {
                    loadMoreUsers();
                }
            });
        });

        function loadMoreUsers() {
            let gender = "";
            if (document.querySelector('.gender').value === '0') {
                gender = '0';
            } else {
                gender = '1';
            }
            isLoading = true;
            $.ajax({
                url: "/User/LoadMoreProfiles",
                data: {
                    skip: skip,
                    searchByName: document.querySelector('.searchByName').value,
                    startAge: document.querySelector('.startAge').value,
                    endAge: document.querySelector('.endAge').value,
                    interests: document.querySelector('.interests').value,
                    searchGender: gender
                },
                dataType: "html",
                success: function (data) {
                    $("#profiles").append(data);
                    skip += 12;
                    isLoading = false;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Failed to load more users:", errorThrown);
                    isLoading = false;
                }
            });
        }
    </script>
}